<!-- Footer Section -->
<footer class="bg-dark text-white text-center py-4"  >
    <div class="container-footer">
        <p>Contact</p>
        <a class="btn btn-primary" href="https://www.linkedin.com/in/rohini-shankari-byra-32252b274/"><i class="fa-brands fa-linkedin"></i></a>&nbsp;
        <a class="btn btn-primary" href="https://github.com/RohiniShankari"><i class="fa-brands fa-github"></i></i></a>
        
        <p style="padding-top:0.1rem;">made with &hearts; by Rohini Sankari</p>
    </div>
</footer>