<%layout("/layouts/boilerplate")%>
<div class="row">
    <div class="col-6 offset-3">
        <h5 style="padding:0.5rem;">signUp</h5>
        <form class="needs-validation" novalidate action="/user/signUp"  method="POST">
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                <div class="invalid-feedback">
                    Enter a valid password
                  </div>
              </div>
              <div class="mb-3">
                <label for="username" class="form-label">username</label>
                <input type="text" class="form-control" name="username" id="username" aria-describedby="emailHelp">
                
              </div>
              <div class="mb-3">
                <label for="leetcodeUserName" class="form-label">leetcode username</label>
                <input type="text" class="form-control" name="leetcodeUserName" id="leetcodeUserName" aria-describedby="emailHelp">
                
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password"id="password">
              </div>
              
              <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>